.stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
    width: 90%;
    margin: 10px auto;
}

.stat-card {
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0px 4px rgb(255 255 255 / 24%);
    background-color: #05151f;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 0.2s;
}

.stat-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 5px rgba(207, 207, 207, 0.1);
}

.stat-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.stat-info h3 {
    margin: 0;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 500;
}

.stat-value {
    margin: 5px 0 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

/* Variantes de colores */
.stat-card.total .stat-icon {
    background-color: #e0f2fe;
    color: #0ea5e9;
}

.stat-card.active .stat-icon {
    background-color: #dcfce7;
    color: #22c55e;
}

.stat-card.warning .stat-icon {
    background-color: #fef9c3;
    color: #eab308;
}

.stat-card.expired .stat-icon {
    background-color: #fee2e2;
    color: #ef4444;
}