.content-nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #77943c ;
}

.img-logo{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-left: 20px;
}

.text-logo{
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
}