.content {
    width: 90%;
    min-height: 84vh;
    /* Use min-height to allow growth */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; REMOVED to prevent jumping */
    margin: 0 auto;
    padding-top: 20px;
    /* Add some top padding */
    padding-bottom: 20px;
}